.th {
  padding: 0;
}

.control {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);

  padding: var(--mantine-spacing-md) var(--mantine-spacing-xs);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-5)
    );
  }
}
